<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataBase_IP" value="127.0.0.1" />
    <add key="DataBase_Name" value="db_ltapgs2" />
    <add key="DataBase_PWD" value="gnoliew" />
    <add key="FTPServer" value="127.0.0.1" />
    <add key="lta_pgs_forder" value="apacheroot\lta_pgs" />
    <add key="FTPUser" value="wl" />
    <add key="FTPPassword" value="wl" />
    <add key="FTPPort" value="21" />
    <add key="UseRemoteDisk" value="2" />
    <!--1: remot disk 2:local disk 0:ftp 3:http-->
    <add key="RemoteAddress" value="\\192.168.126.3\D$" />
    <add key="RemoteUser" value="wl" />
    <add key="RemotePWD" value="GEMINI" />
    <add key="LocalDisk" value="D:" />
    <add key="TCPServerAdd" value="127.0.0.1" />
    <add key="TCPServerPort" value="2001" />
    <add key="Application_Name" value="LTA PGS Manage" />
    <add key="VMS_OK" value="gdm_green.gif" />
    <add key="VMS_Error" value="gdm_yellow.gif" />
    <add key="VMS_Disconnected" value="gdm_red.gif" />
    <add key="CMS_OK" value="cms_green.gif" />
    <add key="CMS_Disconnected" value="cms_red.gif" />
    <add key="Map_marina" value="marina.jpg" />
    <add key="Map_orchard" value="orchard.jpg" />
    <add key="Map_Harbfront" value="harbour.jpg" />
    <add key="Map_singapore" value="sing_map.jpg" />
    <add key="Icon_marina" value="station_green.gif" />
    <add key="Icon_orchard" value="station_green.gif" />
    <add key="Icon_Harbfront" value="station_green.gif" />
    <add key="Icon_marina_red" value="station_red.gif" />
    <add key="Icon_orchard_red" value="station_red.gif" />
    <add key="Icon_Harbfront_red" value="station_red.gif" />
    <!--<add key="Icon_marina" value="marina.gif" />
    <add key="Icon_orchard" value="orchard.gif" />
    <add key="Icon_Harbfront" value="harbour.gif" />
    <add key="Icon_marina_red" value="marina_red.gif" />
    <add key="Icon_orchard_red" value="orchard_red.gif" />
    <add key="Icon_Harbfront_red" value="harbour_red.gif" />-->
    
    <add key="Icon_ea_red" value="EA_red.gif" />
    <add key="Icon_ea" value="EA.gif" />
    <add key="Icon_firewall1" value="firewall1.gif" />
    <add key="Icon_firewall_red1" value="firewall_red1.gif" />
    <add key="Icon_firewall2" value="firewall2.gif" />
    <add key="Icon_firewall_red2" value="firewall_red2.gif" />
    <add key="Update_Timeout" value="60" />
    <add key="usertimeout" value="3600" />
    <add key="tcpdemo" value="0" />
    <add key="alarm_sound" value="1" />
    <add key="webserviceclinet" value="1" />
    <add key="webserviceurl" value="http://127.0.0.1/lta_pgs" />
    <add key="format_width" value="1280" />
    <add key="format_height" value="1024" />
    <add key="use_format_screen" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>